{
    "name": "keboola/twitter-extractor-bundle",
    "type": "symfony-bundle",
    "description": "Keboola Twitter Extractor Bundle",
    "keywords": ["keboola", "twitter"],
    "authors": [
        {
            "name": "Ondrej Vana",
            "email": "ondrej.vana@keboola.com"
        }
    ],
    "repositories": [
		{
			"type": "vcs",
			"url": "git@bitbucket.org:keboola/extractor-bundle.git"
		}
    ],
    "require": {
        "keboola/extractor-bundle": "dev",
        "ext-oauth": "*"
    },
	"scripts": {
        "post-install-cmd": [
			"Syrup\\CoreBundle\\DeploymentHandler\\ScriptHandler::getSharedParameters",
			"Syrup\\CoreBundle\\DeploymentHandler\\ScriptHandler::getParameters",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::buildBootstrap"
        ],
        "post-update-cmd": [
			"Syrup\\CoreBundle\\DeploymentHandler\\ScriptHandler::getSharedParameters",
			"Syrup\\CoreBundle\\DeploymentHandler\\ScriptHandler::getParameters",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::buildBootstrap",
            "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::clearCache"
        ]
    },
    "minimum-stability": "stable",
    "autoload": {
        "psr-0": { "Keboola\\TwitterExtractorBundle": "" }
    },
    "target-dir": "Keboola/TwitterExtractorBundle",
    "extra": {
	    "symfony-app-dir": "vendor/keboola/syrup/app",
	    "symfony-web-dir": "vendor/keboola/syrup/web",
		"incenteev-parameters": {
			"keep-outdated": true,
            "file": "vendor/keboola/syrup/app/config/parameters.yml",
            "dist-file": "parameters.yml"
		},
		"syrup-app-name": "ex-twitter"
    }
}
